<section class="achievements-page">
  <h3>My Achievements</h3>
  <h4>Hackathons</h4>

  <div class="cards-grid">
    <mat-card class="achievement-card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>KSU</mat-card-title>
        <mat-card-subtitle>Hackathon 2020</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSdF0WiscqIOctHhTbGyc5zYBF1LorI4gYQk0UPIPl&s" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Co‑developed a healthcare risk assessment tool for policyholder analysis and recommendations.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="achievement-card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>FIS</mat-card-title>
        <mat-card-subtitle>Innovate 48 2025</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3Mow_q6F1qto4D-cmLu4b9Rso0Mw7AFaKMZxQyA2mPg&s=10" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Built an AI‑powered application using Python and Jira to automate code review, generate documentation, and create training materials.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</section>
