<section class="home">
  <div class="about-img">
    <img src="https://media.licdn.com/dms/image/v2/D4E03AQHXpoCeuP1HPQ/profile-displayphoto-shrink_400_400/B4EZO7hgAWGYAs-/0/1734017941864?e=1784764800&v=beta&t=9jJaAb-EeWu1JLmXtm2khNvYX5wpGAhxAIB5J_UZkyo" alt="Alexander Reese">
  </div>
  <div class="about-text">
      <div class="about-me">
        <br>
    <h4>Hello! "My name is Alexander and welcome to my portfolio!</h4>
    <p> I am a driven Software Engineer with 4+ years of experience specializing in C# development and SQL database management within the financial technology sector. Proven expertise in architecting ASP.NET API controllers and optimizing complex database systems to improve client delivery. Skilled in modernizing legacy C# codebases and utilizing SQL Server to generate high-level data insights for international banking clients.</p>
  </div>
  <!--Resume Button-->
  <div class="button">
    <button matButton="outlined" (click)="downloadResume()">Download Resume</button>
  </div>
<!--Welcome-->
  <div class="things-i-do">
    <br>
  <h3>Capabilities</h3>
    <p>Develop responsive web applications</p>

    <p>Design intuitive user interfaces</p>

    <p>Implement backend services and APIs</p>

    <p>Generate technical documentation</p>

    <p>Collaborate with cross-functional teams</p>

    <p>Created Power BI dashboards and SSRS reports to visualize operational metrics</p>
  </div>

  <!--Contact Information-->
<div class="contact">
  <h3>Contact Me</h3>
  <p>Email: azreese@bellsouth.net</p>
  <p>Phone: (404) 242-4915</p>
</div>

<!--Social Media Links-->
<div class="social-links">
  <h3>Connect with Me:</h3>
  <br>
  <a class="secondary-link" href="https://www.linkedin.com/in/alexander-reese" target="_blank" rel="noopener noreferrer">
    <img class="social-icon" src="https://tse2.mm.bing.net/th/id/OIP.w_zDkEJ9aLiWR-g0rff8hwHaHa?rs=1&pid=ImgDetMain&o=7&rm=3" alt ="LinkedIn_Logo">LinkedIn
  </a>
  <a class="secondary-link" href="https://github.com/reesealexandercode-alt" target="_blank" rel="noopener noreferrer">
    <img class="social-icon" src="https://pngimg.com/uploads/github/github_PNG40.png" alt="GitHub_Logo">GitHub
  </a>

  </div>
</div>
</section>
