h3 {
  text-align: center;
  color: white;
}

p {
  text-align: center;
  color: white;
}

.project-card p {
  color: black;
  text-align: center;
}

mat-card-title, mat-card-subtitle {
  color: black;
  text-align: center;
}


