<section class="projects-page">
  <h3>My Projects</h3>

  <div class="cards-grid">
    <mat-card class="project-card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>Eloirae</mat-card-title>
        <mat-card-subtitle>Wedding Planner WebApp</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>A comprehensive wedding planning platform designed to streamline the entire wedding planning process.</p>
        <a href="https://eloirae.com/?utm_source=ig&utm_medium=social&utm_content=link_in_bio&fbclid=PAZXh0bgNhZW0CMTEAc3J0YwZhcHBfaWQPOTM2NjE5NzQzMzkyNDU5AAGnxt3c3wbRBXDX-XmeLioN7OHiXvB3I_ejq6jWTSI_5gFRr-G49vuB06ddiZA_aem_wI5ZF3u1-JcVUpwwi1zc6A" target="_blank" rel="noopener noreferrer">Visit Project</a>
      </mat-card-content>
    </mat-card>
  </div>
</section>
