<section class="experience-page">
  <div class="experience-header">
    <h3>My Experience</h3>
  </div>

  <div class="FIS-header">
    <h4>FIS Global</h4>
  </div>

  <div class="experience-accordion">
    <mat-accordion multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Software Engineer II</mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <li>
            Assisted in the creation of 3+ robust API controllers and services using C# and ASP.NET to power new Angular-based administration platforms.
          </li>
          <li>
            Collaborated cross-functionally to resolve high-priority client ticket requests, leveraging C# debugging skills to reduce the backlog by 30%.
          </li>
          <li>
            Improved SLA compliance by 20% through efficient management of incident tickets and change requests within ServiceNow.
          </li>
          <li>
            Moved over to Angular and Angular Material using Visual Studio and Visual Studio Code to develop new admin forms for multiple client banks using JSON, NPM, and JFrog to initialize, and TypeScript and CSS to develop. Created different components, models, services, and validators for different admin forms.
          </li>
        </ul>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Software Engineer I</mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <li>
            Developed and maintained core web application features using C# within Visual Studio, ensuring seamless integration with Microsoft Azure DevOps.
          </li>
          <li>
            Engineered complex SQL Server database queries to produce detailed reports and automated scheduled data exports for high-level clients.
          </li>
          <li>
            Led the technical modernization of the team’s core product, upgrading the codebase and SQL database architecture from the 2017 to the 2025 model.
          </li>
        </ul>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Technologist Engineer</mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <li>
            Utilized Microsoft SQL Server and Visual Studio to develop and debug critical application components for international banking systems.
          </li>
          <li>
            Maintained case management products by providing rigorous functional testing and managing local environments via IIS.
          </li>
          <li>
            Managed source control and CI/CD pipelines using Azure DevOps (formerly Team Foundation Server).
          </li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</section>
