
<section class="about" id="about">
 <!--About Me-->
  <div class="about-img">
    <img src="https://media.licdn.com/dms/image/v2/D4E03AQHXpoCeuP1HPQ/profile-displayphoto-shrink_400_400/B4EZO7hgAWGYAs-/0/1734017941864?e=1784764800&v=beta&t=9jJaAb-EeWu1JLmXtm2khNvYX5wpGAhxAIB5J_UZkyo" alt="Alexander Reese">
  </div>
  <div class="about-text">
      <div class="about-me">
    <h3>About Me</h3>
    <h4>Hello! "My name is Alexander and welcome to my portfolio!</h4>
    <p> I am a passionate web developer with experience in building dynamic and responsive web applications.</p>
  </div>
<!--Welcome-->
  <div class="things-i-do">
  <h3>Things I Do</h3>
  <ul>
    <li>Develop responsive web applications</li>
    <li>Design intuitive user interfaces</li>
    <li>Implement backend services and APIs</li>
    <li>Generate technical documentation</li>
    <li>Collaborate with cross-functional teams</li>
  </ul>
  </div>

  <!--Contact Information-->
<div class="contact">
  <h3>Contact Me</h3>
  <p>Email: azreese@bellsouth.net</p>
  <p>Phone: (404) 242-4915</p>
</div>

<!--Social Media Links-->
<div class="social-links">
  <h3>Connect with Me:</h3>
  <br>
  <a class="secondary-link" href="https://www.linkedin.com/in/alexander-reese" target="_blank" rel="noopener noreferrer">
    <img class="social-icon" src="https://tse2.mm.bing.net/th/id/OIP.w_zDkEJ9aLiWR-g0rff8hwHaHa?rs=1&pid=ImgDetMain&o=7&rm=3" alt ="LinkedIn_Logo">LinkedIn
  </a>
  <a class="secondary-link" href="https://github.com/reesealexandercode-alt" target="_blank" rel="noopener noreferrer">
    <img class="social-icon" src="https://pngimg.com/uploads/github/github_PNG40.png" alt="GitHub_Logo">GitHub
  </a>

  </div>
</div>
</section>
